In [1]:
import pandas as pd
import dtale
from db.get_dbtable_data import get_dbtable_data

db_table_name = "prepped_20210521"
data = get_dbtable_data(db_table_name)

dtale.show(data)
# dtale.show(data)._main_url

DatabaseError: Execution failed on sql 'SELECT * FROM prepped_20210519;': relation "prepped_20210519" does not exist
LINE 1: SELECT * FROM prepped_20210519;
                      ^