In [3]:
import string
import re
import pandas as pd
import os

from utils import basic
from db.get_db_data import GetTableData
from db.config import Config
_Config = Config()

# setup db connection
conn_cur_list = basic.setup_db_connection()
query_path = str(_Config.queries["get_sta_tables"])
query_string = basic.read_query_file(query_path)

# create 
_GetTableData = GetTableData(conn_cur_list[0], conn_cur_list[1])
sta_tables_df = _GetTableData.create_pandas_table(query_string)

print(sta_tables_df.head())

                       table_name
0   sta_euro_dollar_exchange_rate
1                sta_copper_price
2              sta_usa_bond_2year
3  sta_1_year_treasury_rate_yield
4        sta_capacity_utilization

In [4]:
#test_table = sta_tables_df.iloc[1]

In [5]:
query_path = str(_Config.queries["select_table_sample"])
query_string = basic.read_query_file(query_path)
query_string

'select * from __tablename__ order by RANDOM() limit __limit__;'

In [6]:
def get_sta_dateformats(sta_table):
    query = query_string.replace("__tablename__", sta_table)
    query = query.replace("__limit__", "1000")
    df = _GetTableData.create_pandas_table(query)

    # determine the date formats for all table sample cells
    df['datetype'] = df.iloc[:,0].apply(lambda x: basic.string_to_sql_type(str(x)))
    
    # return the most presented date format
    major_dateformat = df['datetype'].value_counts(ascending=False).to_frame().index.values[0]

    return major_dateformat

In [7]:
sta_tables_df["datetype"] = sta_tables_df['table_name'].apply(lambda x: get_sta_dateformats(x))

In [8]:
sta_tables_df

                                           table_name            datetype
0                       sta_euro_dollar_exchange_rate      date__M/D/YYYY
1                                    sta_copper_price      date__M/D/YYYY
2                                  sta_usa_bond_2year  date__Mon DD, YYYY
3                      sta_1_year_treasury_rate_yield      date__M/D/YYYY
4                            sta_capacity_utilization      date__M/D/YYYY
5                                     sta_futures_vix  date__Mon DD, YYYY
6                              sta_heating_oil_prices      date__M/D/YYYY
7                           sta_industrial_production      date__M/D/YYYY
8                                sta_palladium_prices      date__M/D/YYYY
9                                           sta_sp500    date__YYYY-MM-DD
10                                    sta_oats_prices      date__M/D/YYYY
11                                            sta_vix    date__YYYY-MM-DD
12                         sta_ted_spread_credit_risk    date__YYYY-MM-DD
13                                    sta_futures_dax    date__DD.MM.YYYY
14                             sta_germany_bond_2year  date__Mon DD, YYYY
15                                  sta_futures_sp500    date__DD.MM.YYYY
16                                  sta_cotton_prices      date__M/D/YYYY
17                                sta_usa_bond_10year  date__Mon DD, YYYY
18                                 sta_fed_funds_rate      date__M/D/YYYY
19                    sta_10_year_treasury_rate_yield      date__M/D/YYYY
20                    sta_30_year_treasury_rate_yield      date__M/D/YYYY
21                   sta_check_putcall_vix_odernurvix  date__Mon DD, YYYY
22                            sta_oecd_broad_money_m3             varchar
23                                 sta_jobless_claims    date__YYYY-MM-DD
24                             sta_1_month_libor_rate      date__M/D/YYYY
25                            sta_germany_bond_10year  date__Mon DD, YYYY
26                                   sta_leitzins_usa    date__YYYY-MM-DD
27                           sta_durable_goods_orders      date__M/D/YYYY
28                     sta_5_year_treasury_rate_yield      date__M/D/YYYY
29                                 sta_futures_silver  date__Mon DD, YYYY
30                                 sta_housing_starts      date__M/D/YYYY
31                          sta_inflation_rate_yearly      date__M/D/YYYY
32                                sta_platinum_prices      date__M/D/YYYY
33                     sta_pound_dollar_exchange_rate      date__M/D/YYYY
34                          sta_putcall_equity_volume      date__M/D/YYYY
35               sta_putcall_exchange_traded_products      date__M/D/YYYY
36                          sta_putcall_index_volumes      date__M/D/YYYY
37                         sta_putcall_total_exchange      date__M/D/YYYY
38                                  sta_putcall_sp500      date__M/D/YYYY
39                                    sta_putcall_vix      date__M/D/YYYY
40                                   sta_retail_sales      date__M/D/YYYY
41                             sta_soybean_oil_prices      date__M/D/YYYY
42                                   sta_sugar_prices      date__M/D/YYYY
43           sta_unemployment_college_graduates_25_34    date__YYYY-MM-DD
44  sta_unemployment_insurance_initial_claims_stat...    date__YYYY-MM-DD
45                                sta_us_dollar_index      date__M/D/YYYY
46                                   sta_wheat_prices      date__M/D/YYYY
47                                        sta_wti_usd  date__Mon DD, YYYY

In [12]:
# retrieve one M/D/YYYY table as pd dataframe

from db.get_dbtable_data import get_dbtable_data

get_dbtable_data("sta_sugar_prices")

TypeError: 'function' object is not subscriptable